@(message: String)

@main("Twitter Name Generator") {

<div class="jumbotron text-center">
  <div class="container">
    <h1>Твой ник в твиттере стал маленьким и вялым?</h1>
    <p>Выход есть!</p>
    <div class="form-group">
      <input type="text" class="form-control" id="nick" style="text-align: center; font-size: 21px; font-weight: 200;" disabled>
      <button id="btn-again" type="button" class="btn btn-primary">Все еще <b>плохо</b>?</button>
    </div>
  </div>
</div>

<script>
  function generateNew() {
    $.get('/generate', function(result) {
      $('#nick').val(result);
    });
  }

  $("#btn-again").click(function() {
    generateNew();
  })

  $(function() {
    generateNew();
  });
</script>

}
